@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f9;
  --foreground: #1b1c1c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-ibm-plex-arabic), sans-serif;
  direction: rtl;
  text-align: right;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-playfair), serif;
}
